<div id="navbar-sticky" class="navbar navbar-expand-sm navbar-light navbar-lewagon"
     data-controller="colored"
     data-colored-target="colored"
     data-action="scroll@window->colored#onScroll">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "Al_ine Logo 3.png", alt: "Logo Aline", class: "navbar-logo" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Accueil", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Projets", projects_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "À propos de moi", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contacts_new_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Nouveau projet", new_project_path, class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item">
          <li><%= link_to "Jouer", "#", class: "nav-link nav-link-play" %></li>
        </li>

      </ul>

      <div class="nav-item dropdown" data-controller="navbar" data-action="click@window->navbar#close">
        <a href="javascript:void(0)" data-action="click->navbar#toggle">
          <%= image_tag "PDP Blanc.png", class: "avatar", alt: "menu utilisateur" %>
        </a>

        <ul class="custom-dropdown-menu" data-navbar-target="menu">
          <% if user_signed_in? %>
            <li><%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
          <% else %>
            <li><%= link_to "Connexion", new_user_session_path, class: "dropdown-item" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
