<div class="parent">
  <!-- Bannière -->
  <div class="pre-banner">
    <div class="banner-background">
      <div class="top-banner">
        <div class="banner-img-left">
          <%= image_tag "Pattern.png" %>
        </div>

        <div class="side-banner">
          <h1 class="title-page">Projets</h1>
        </div>

        <div class="banner-grid">
          <% @banners.each do |banner| %>
            <div class="banner-cell row-<%= banner.row %> col-<%= banner.col %> <%= banner.content_type %>">
              <% if banner.content_type == "image" %>
                <%= image_tag banner.value, alt: "Background", class: "banner-img" %>
              <% else %>
                <%= link_to projects_path(tag: banner.value), class: "link" do %>
                  <h2 class="banner-text"><%= format_tag_name(banner.value) %></h2>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Contenu principal -->
  <div class="container">
    <div class="pre-footer">
      <!-- Filtres -->
      <div class="filter">
        <%= render 'filter' %>
      </div>

      <!-- Grille des projets -->
      <div class="project-index-grid">
        <% @customers.each do |customer| %>
          <div class="card">
            <!-- IMAGE -->

            <!-- TODO: enlever le unless ! -->
            <% unless customer.logo.blank? %>
              <%= cl_image_tag customer.logo.key, alt: "Logo de #{customer.name}"%>
            <% end %>


            <!-- CONTENU -->
            <div class="card-index-body">
              <h2 class="card-index-title">
                <%= customer&.name %>
              </h2>

              <p class="card-index-text">
                <%= customer.projects.first&.description %>
              </p>

              <div class="tag-list">
                <% customer.all_tags.first(4).each do |tag| %>
                  <span class="tag-badge"><%= format_tag_name(tag.name) %></span>
                <% end %>
                <% if customer.all_tags.size > 4 %>
                  <span class="tag-badge overflow-indicator">+<%= customer.all_tags.size - 4 %></span>
                <% end %>
              </div>

              <%= link_to "Voir le projet",
                    customer,
                    class: "discover-button-clair" %>
            </div>
          </div>
        <% end %>
      </div>


      <!-- Bouton nouveau projet -->
      <% if user_signed_in? %>
        <%= link_to "Nouveau projet", new_project_path, class: "discover-button"%>
      <% else %>
      <p class="login-hint">
        <%= link_to "Connecte-toi", new_user_session_path, class: "discover-button" %> pour créer un projet.
      </p>
      <% end %>
    </div>
  </div>
</div>
