
<div class="parent" data-controller="random-delay" data-action="randomDelay#applyRandomDelays">
  <%# <div style="justify-content: center; display: flex"> %>
    <div class="text-container">
      <h1 class="title animate-text">PortfoliAl</h1>

        <div class="image-wrapper">
        <%= image_tag "PDP Beige.png", class: "image-only-shadow" %>
        </div>
      </div>


  <div class="grid-head">
    <% (1..50).each do |i| %>
      <div class="image-container">
        <%= image_tag "PDP Beige plat.png", id:"img_#{i}", class: "superpose", 'data-random-delay-target': 'image' %>
      </div>
    <% end %>
  </div>

 <div>
    <h2 class="h2-text">Lorem ipsum odor amet, consectetuer adipiscing elit</h2>
  </div>

<div class="presentation-wrapper">
  <div class="grid-pres">
    <div class="text-block">
      <p>
        Quo quae quibusdam et distinctio doloribus sed ratione recusandae. Sit repellendus unde et recusandae quia ab quisquam porro repellat voluptas eum earum sunt est laudantium nihil vel explicabo veritatis
      </p>
      <a href="#ton-lien" class="discover-button">Découvrir</a>
    </div>

    <div class="cards">
  <% @icons.each do |icon| %>
  <div class="card-category card-homepage"
       style="background-image: url(<%= asset_path("icons/#{icon.image}") %>)">
         <h3 class="icon-title"><%= icon.name.upcase %></h3>
  </div>
<% end %>
</div>

   <%# <%= image_tag "PDP Beige.png", class: "rotating", id: "rotating-image" %>
  </div>
</div>

<div class="section-fluid-main">
  <div class="section-row">
    <% @featured_projects.each do |project| %>
      <div class="section-col">
        <div class="section">
          <div class="section-in">
            <%= image_tag "#{project.logo}", alt: project.customer, class: "project-logo" if project.logo.present? %>
          </div>
        </div>
      </div>
      <div class="hover-text">
        <h2><%= project.customer %></h2>
      </div>
    <% end %>

    <!-- 6ème carte : bouton découvrir -->
    <div class="section-col">
      <div class="section">
        <div class="section-in">
          <button class="discover-button-clair">Découvrir</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="presentation-wrapper">
  <div class="grid-pres">
    <div class="text-block">
      <p>
        Quo quae quibusdam et distinctio doloribus sed ratione recusandae. Sit repellendus unde et recusandae quia ab quisquam porro repellat voluptas eum earum sunt est laudantium nihil vel explicabo veritatis
      </p>
      <a href="#ton-lien" class="discover-button">Découvrir</a>
    </div>

    <div>
      <%= image_tag "PDP Beige.png" %>
    </div>

  </div>
</div>

</div>





<script>
"use strict";
window.addEventListener("DOMContentLoaded", (event) => {
  animate_text();
});
// -------------------
function animate_text()
{
  let delay = 100,
      delay_start = 300,
      contents,
      letters;

  document.querySelectorAll(".animate-text").forEach(function (elem) {
    contents = elem.textContent.trim();
    elem.textContent = "";
    letters = contents.split("");
    elem.style.visibility = 'visible';

    letters.forEach(function (letter, index_1) {
      setTimeout(function () {
        // ---------
        // effet machine à écrire (SIMPLE)
        elem.textContent += letter;
        // ---------
        // OU :
        // effet machine à écrire + animation CSS (SPECIAL)
        /*
        var span = document.createElement('span');
        span.innerHTML = letter.replace(/ /,'&nbsp;');
        elem.appendChild(span);
*/
        // ---------
      }, delay_start + delay * index_1);
    });
    delay_start += delay * letters.length;
  });
}

document.addEventListener("DOMContentLoaded", function () {
  const rotatingImage = document.getElementById("rotating-image");

  const observer = new IntersectionObserver(
    ([entry]) => {
      if (entry.isIntersecting) {
        rotatingImage.style.animationPlayState = "running";
      } else {
        rotatingImage.style.animationPlayState = "paused";
      }
    },
    {
      threshold: 0.1 // commence à animer si au moins 10% de l’image est visible
    }
  );

  if (rotatingImage) {
    observer.observe(rotatingImage);
  }
});

</script>
