<div data-controller="tag-autocomplete"
     data-tag-autocomplete-tags-value="<%= ["Charte graphique", "Référencement", "SEO", "UX/UI", "Site internet", "Wix", "Illustrator", "Premier Pro", "Canva", "Figma", "Identité de marque", "HTML", "CSS", "JavaScript", "Ruby on Rails", "Réseaux sociaux", "Vidéo", "After Effect", "Webflow", "Logo", "Mockup", "Bannière", "Flocage", "Photoshop", "Panneau", "Formation", "Accompagnement", "Affiche", "WordPress", "Communication", "Événementiel", "UI/UX"].to_json %>">
  <%= form_with url: projects_path, method: :get, local: true, class: "filter-form" do %>
    <%= label_tag :tag, "Filtrer par tag" %>
    <%= text_field_tag :tag, params[:tag], placeholder: "Commencez à taper...", data: { tag_autocomplete_target: "input" }, autocomplete: "off", class: "tag-input" %>
    <%= submit_tag "Filtrer", class: "button-filter" %>
  <% end %>

  <ul id="tag-suggestions" data-tag-autocomplete-target="suggestions" class="suggestions-list"></ul>
</div>
