
<div class="parent">
  <div class="pre-banner">
    <div class="banner-background">
      <div class="top-banner">
        <div class="banner-img-left">
          <%= image_tag "Pattern.png" %>
        </div>

        <div class="side-banner">
          <h1 class="title-page">Projets</h1>
        </div>

  <div class="banner-grid">
    <% @banners.each do |banner| %>
      <div class="banner-cell row-<%= banner.row %> col-<%= banner.col %> <%= banner.content_type %>">
        <% if banner.content_type == "image" %>
          <%= image_tag banner.value, alt: "Background", class: "banner-img" %>
        <% else %>
          <% category = banner.value %>
          <%= link_to projects_path(tag: category), class: "link" do %>
            <h2 class="banner-text" ><%= category %></h2>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

      </div>
    </div>
  </div>


<div class="container">
  <div class="pre-footer">
    <div class="filter"><%= render 'filter' %>
    </div>
    <div class="project-index-grid">
      <% @projects.each do |project| %>
        <div class="card">
          <%= image_tag project.logo, alt: "Logo de #{project.customer}", class: "card-img-top-index" %>
          <div class="card-index-body">
            <h2 class="card-index-title"><%= project.customer %></h2>
            <p class="card-index-text"><%= project.description %></p>

            <!-- Tags du projet -->
          <div class="tag-list">
            <% visible_tags = project.tags.first(4) %>
            <% visible_tags.each do |tag| %>
              <span class="tag-badge"><%= tag.name %></span>
            <% end %>

            <% if project.tags.size > 4 %>
              <span class="tag-badge overflow-indicator">...</span>
            <% end %>
          </div>
            <%= link_to "Voir le projet", project_path(project), class: "discover-button-all" %>
          </div>
        </div>
      <% end %>
    </div>

    <%= link_to "Nouveau projet", new_project_path, class: "discover-button" %>
  </div>
</div>
</div>
