<div class="new-page parent">
  <div class="banner-background-new">
    <div class="top-banner">
        <h1 class="title-page">Ajouter un projet</h1>
    </div>
  </div>

<div class="container pre-footer">
<div class="sub-project-new">
  <div class= "sub-description-new">
  <%= simple_form_for(@project) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="container">
      <div class="form-inputs new-form">
        <%= f.input :customer, label: 'Client', placeholder: 'Entrer un nom' %>
        <%= f.input :description, label: 'Description du projet', placeholder: 'Décrire le contexte' %>
        <%= f.input :url_media, label: 'Media', placeholder: 'Url de la photo, video ...' %>
        <%= f.input :tag_ids,
              label: 'Tags',
              as: :select,
              collection: Tag.all.pluck(:name, :id),
              input_html: {
              multiple: true,
              class: 'tag-select'
              } %>
        <%= f.input :logo, placeholder: 'Logo du client' %>

      </div>

      <div class="form-actions discover-button-clair">
        <%= f.button :submit, class:'discover-button' %>
      </div>
      </div>
  <% end %>
  </div>

</div>
  <%= link_to "Retour", projects_path, class: "discover-button" %>
</div>
</div>
