  <div class="card-category top-banner">
      <%= @project.customer %>
  </div>
  </div>


  <div class="container parent">
    <div class="show-project">
      <div class="tags">
        <% @project.tags.each do |tag| %>
          <span class="tag"><%= tag.name %></span>
        <% end %>
      </div>
        <div class="description-show">
          <%= image_tag @project.logo, alt: "Logo de #{@project.customer}", class: "logo-show" %>
          <div class="description-project">
          <% @project.description.split(/Projet \d+ /).reject(&:blank?).each_with_index do |part, index| %>
            <div class="sub-project">
              <div class= "sub-description">
                <h3 class="sub-title-project">Projet <%= index + 1 %> </h3>
                <p><%= simple_format(part.strip) %></p>
              </div>
            </div>
          <% end %></div>
        </div>

          <%= link_to "Retour sur les projets", projects_path, class: "discover-button" %>
    </div>
  </div>
